@import "tailwindcss";

@import "tw-animate-css";

/*@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views!*.blade.php';*/
/*@source '../../storage/framework/views!*.php';*/

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
    /*@variant sm {*/
    /*    padding-inline: 2rem;*/
    /*}*/
    /*@variant lg {*/
    /*    padding-inline: 4rem;*/
    /*}*/
    /*@variant xl {*/
    /*    padding-inline: 5rem;*/
    /*}*/
    /*@variant 2xl {*/
    /*    padding-inline: 6rem;*/
    /*}*/
}

@theme inline {
    /* Fonts */
    --font-sans: "Geologica", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "Unbounded", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    /* Breakpoint */
    --breakpoint-xs: 30rem;

    /* Colors */
    --color-primary-50: #f7f6fc;
    --color-primary-100: #efeef9;
    --color-primary-200: #e1dff5;
    --color-primary-300: #cbc6ec;
    --color-primary-400: #b0a6e0;
    --color-primary-500: #9280d2;
    --color-primary-600: #7f64c3;
    --color-primary-700: #6f52af;
    --color-primary-800: #5d4493;
    --color-primary-900: #4d3979;
    --color-primary-950: #302451;

    /*--color-primary-50: #fffbeb;*/
    /*--color-primary-100: #ffeda8;*/
    /*--color-primary-200: #ffe688;*/
    /*--color-primary-300: #ffd44a;*/
    /*--color-primary-400: #ffbf20;*/
    /*--color-primary-500: #f99d07;*/
    /*--color-primary-600: #dd7502;*/
    /*--color-primary-700: #b75206;*/
    /*--color-primary-800: #943e0c;*/
    /*--color-primary-900: #7a330d;*/
    /*--color-primary-950: #461a02;*/

    /*--color-primary-50: #fff0f1;*/
    /*--color-primary-100: #ffdee0;*/
    /*--color-primary-200: #ffc3c7;*/
    /*--color-primary-300: #ff9aa1;*/
    /*--color-primary-400: #ff606b;*/
    /*--color-primary-500: #ff2e3d;*/
    /*--color-primary-600: #f41e2d;*/
    /*--color-primary-700: #cd0816;*/
    /*--color-primary-800: #a90b16;*/
    /*--color-primary-900: #8c1019;*/
    /*--color-primary-950: #4d0207;*/


    --color-secondary-50: #faf6f8;
    --color-secondary-100: #f5eef0;
    --color-secondary-200: #eee4e7;
    --color-secondary-300: #dbc6cd;
    --color-secondary-400: #c6a6b0;
    --color-secondary-500: #af8493;
    --color-secondary-600: #96687a;
    --color-secondary-700: #7c5465;
    --color-secondary-800: #694857;
    --color-secondary-900: #5b404d;
    --color-secondary-950: #312028;

    /*--color-secondary-50: #f8f5f2;*/
    /*--color-secondary-100: #eae2db;*/
    /*--color-secondary-200: #d4c2b3;*/
    /*--color-secondary-300: #bda28c;*/
    /*--color-secondary-400: #ae8971;*/
    /*--color-secondary-500: #a47764;*/
    /*--color-secondary-600: #8d5e52;*/
    /*--color-secondary-700: #774b46;*/
    /*--color-secondary-800: #633e3d;*/
    /*--color-secondary-900: #523535;*/
    /*--color-secondary-950: #2d1b1b;*/

    /* Shadows */
    --shadow-out: rgba(60, 64, 67, 0.3) 0px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --shadow-low: 0 0 16px rgba(0, 0, 0, 0.08), 0 4px 16px rgba(0, 0, 0, 0.08);
    --shadow-up: 0 125px 80px rgba(23, 58, 105, 0.07), 0 81.0185px 46.8519px rgba(23, 58, 105, 0.05), 0 48.1481px 25.4815px rgba(23, 58, 105, 0.04), 0 25px 13px rgba(23, 58, 105, 0.04), 0 10.1852px 6.51852px rgba(23, 58, 105, 0.03), 0 2.31481px 3.14815px rgba(23, 58, 105, 0.02);

    /* Animations */
    --animate-wobble-vertical: wobble_vertical 1s ease-in-out 1;
    @keyframes wobble_vertical {
        16.65% {
            transform: translateY(8px);
        }
        33.3% {
            transform: translateY(-6px);
        }
        49.95% {
            transform: translateY(4px);
        }
        66.6% {
            transform: translateY(-2px);
        }
        83.25% {
            transform: translateY(1px);
        }
        100% {
            transform: translateY(0);
        }
    }
}

@utility hide-arrows {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    .swiper-pagination-white {
        .swiper-pagination-bullet {
            @apply size-2 rounded-full bg-white/80 duration-300;
        }
        .swiper-pagination-bullet-active {
            @apply scale-125 bg-primary-500;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        @apply z-10 cursor-pointer rounded-2xl bg-white p-2.5 duration-300 hover:scale-105 hover:bg-primary-100 hover:shadow-out;
    }
    .swiper-button-prev {
        @apply left-4;
    }
    .swiper-button-next {
        @apply right-4;
    }
    .lines-pagination {
        @apply flex items-center gap-3;
        .swiper-pagination-bullet {
            @apply h-1 w-full rounded-full bg-white/50;
        }
        .swiper-pagination-bullet-active {
            @apply bg-white;
        }
    }
}
